.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.input{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;

    margin-top: 30px;
    height: 40px;
}

.button {
  margin-top: 30px;
  height: 40px;
}

.form-error {
    position: absolute;
    padding: 5px 10px;
    width: 30vw;
    height: 40px;
    background-color: burlywood;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}
