.form { 
    width: 20vw;
    margin: auto;
    margin-top: 20vh;
}

/*.input{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;

    margin-top: 30px;
    height: 40px;
    width: 15vw;
}*/

.button {
  
  height: 40px;
  width: 15vw;
  -moz-box-sizing: border-box;
  background-color:crimson;
  border-radius: 5px;
  border: none;
  color: aliceblue;
}

.button:hover {
    background: linear-gradient(#de634b, #a62d0f);
     box-shadow: 5px #f7c707;
}

.tooltip {
    position: absolute;
    padding: 0;
    width: 30vw;
    /*height: 40px;*/
    
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
   
}

.tooltip h1 {
    color: black;
    font-size: 1em;
    background-color: gray;
    margin-top: 0;
}

.tooltip p {
    color: black;
    font-size: 1em;;  
}