
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-wrap: wrap;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;

}

.buttonTooltip {
  height: 40px;
  width: 15vw;
  -moz-box-sizing: border-box;
  background-color:crimson;
  border-radius: 5px;
  border: none;
  color: aliceblue;
}

.buttonTooltip:hover {
    background: linear-gradient(#de634b, #a62d0f);
     box-shadow: 5px #f7c707;
}

.tooltip {
	position: absolute;
    max-width: 25vw;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
}
.tooltipTitle {
    color: black;
    font-size: 1em;
    background-color: gray;
    margin-top: 0;
    padding: 5px;
}

.tooltipText {
    color: black;
    font-size: 1em;
    padding: 5px; 
}

.hidden {
    display: none;
}